.footer {
    min-height: 100px;
    background: #000046;
    position: relative;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background: rgb(226, 8, 8);
    text-align: center;
    color: white;
  }